.Rproj.user
.Rhistory
.RData
ENVE.Rproj
ComplexSurveys.R
log.txt
README_FAIL.Rmd
Rdata
RawData
.DS_Store
Notes.md
.Rapp.history
ENVIPE
AnalysisDraft.html
AnalysisDraft.md
AnalysisDraft_files
AnalysisDraft.pdf
draft1.R
draft2.R
ggmapTemp.png
plots.R
Routput
AnalysisDraft.docx
AnalysisDraft_4Latex.Rmd
AnalysisDraft_4Latex.docx
AnalysisDraft_4Latex.pdf
AnalysisDraft_4Latex.tex
AnalysisDraft_4Latex_files
b_test.dta
b_test_sample.dta
lme4_1.1-7.tar.gz
models_sample.do
models_test_script.R
models_test_v_Stata.R
stata_models.tex
stata_v_r.Rmd
stata_v_r.pdf
stata_v_r.tex
stata_v_r_2.pdf
stata_v_r_2.tex
tmp-pdfcrop-69020.tex
.texpadtmp
